################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/bin/Debug
/bin/Release
/.vs/ShoppingListApp
/ShoppingListApp.csproj.user
